<div id="content">
  <div id="content-header">
    <div id="breadcrumb"> <a href="#" title="Go to Home" class="tip-bottom"><i class="icon-home"></i> 管理首页</a> <a href="#" class="current">列表</a> </div>
    <h1>
      <button type="button" class="btn btn-success" style="float:left;margin:10px 20px 0px 0px;">添加用户</button>
    </h1>
  </div>
  <div class="container-fluid">
    <hr>
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title"> <span class="icon"><i class="icon-th"></i></span>
            <h5>用户管理</h5>
          </div>
          <div class="widget-content nopadding">
            <table class="table table-bordered data-table">
              <thead>
                <tr>
                  <th>id</th>
                  <th>用户名</th>
                  <th>最后登录</th>
                  <th>权限</th>
                  <th>状态</th>
                  <th>操作</th>
                </tr>
              </thead>
              <tbody>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
                <tr class="gradeX">
                  <td>1</td>
                  <td>老王头</td>
                  <td>2015-12-12</td>
                  <td>管理员</td>
                  <td>开启</td>
                  <td class="center">
                    <button class="btn btn-primary">修改</button>&nbsp;&nbsp;
                    <button class="btn btn-danger">删除</button>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>