<style>
    .btn_disabled {
        background-color: #67c5f5;
    }
    .btn_disabled:hover {
        cursor: not-allowed;
        background-color: #67c5f5;
    }
    .btn_disabled:visited {
        cursor: not-allowed;
        background-color: #67c5f5;
    }
    .th_tr>th {
        line-height: 30px;
    }
    .gradeX>td {
        line-height: 30px;
    }
    .order_title {
        display: inline-block;
        height: 35px;
        line-height: 35px;
        margin-left: 20px;
        padding: 0 10px;
    }
</style>
<div id="content">
    <div id="content-header">
        <div id="breadcrumb"> <a href="/bk_index" title="前往首页" class="tip-bottom"><i class="icon-home"></i> 首页</a> <a href="#" class="current">订单列表</a> </div>
    </div>
    <div class="container-fluid">
        <hr>
        <div class="row-fluid">
            <div class="span12">
                <div class="widget-box">
                    <div class="widget-title">
                        <a href="/bk_order/list" class="btn btn-success" style="float:left;margin:5px 0;">返回订单列表</a>
                        <span class="order_title">订单号：{$odetail->oid}</span>
                        <span class="order_title">订单状态：{$odetail->status}</span>
                    </div>
                    <div class="widget-content "><!--nopadding-->
                        <table class="table table-bordered data-table">
                            <thead>
                            <tr class="th_tr">
                                <th>商品名称</th>
                                <th>商品图片</th>
                                <th>购买单价</th>
                                <th>购买数量</th>
                                <th>小计</th>
                            </tr>
                            </thead>
                            <tbody>
                            {empty name="odetail"}
                            <tr>
                                <td colspan="5">暂无数据</td>
                            </tr>
                            {/empty}
                            {volist name="odetail->details" id="vo"}
                            <tr class="gradeX">
                                <td width="40%">{$vo->goodss->gname}</td>
                                <td>
                                    <img width="80" height="40" src="/{:config('app.goodsImg_save_path')}{$vo->goodss->gpic}">
                                </td>
                                <td>{$vo->price}</td>
                                <td>{$vo->cnt}</td>
                                <td>{$vo->cnt*$vo->price}</td>
                            </tr>
                            {/volist}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>