
<!--header_logo_search-->
<div class="header">
    <div class="layout">
        <div class="header_left">
            <div class="logo">
                <a href="/" title="Vmall.com - 华为商城">
                    <img src="__HOME__/images/nav_logo.png" alt="Vmall.com - 华为商城">
                </a>
            </div>
            <div class="naver">
                <ul id="naver_list">
                    <li>
                        <a class="huawei" href="#">手机</a>
                        <ul>
                            <li class="naver_list_h">
                                <div class="naver_list_h_l">
                                    <a href="#">
                                        全部&nbsp;<span class="subName"> 手机</span> >
                                    </a>
                                </div>
                                <div class="naver_list_h_r">
                                    <ol>
                                        <li>
                                            <a href="#">荣耀</a>
                                        </li>
                                        <li>
                                            <a href="#">HUAWEI P系列</a>
                                        </li>
                                        <li>
                                            <a href="#">荣耀畅玩系列</a>
                                        </li>
                                        <li>
                                            <a href="#">HUAWEI Mate系列</a>
                                        </li>
                                        <li>
                                            <a href="#">HUAWEI nova系列</a>
                                        </li>
                                        <li>
                                            <a href="#">HUAWEI麦芒系列</a>
                                        </li>
                                        <li>
                                            <a href="#">华为畅享系列</a>
                                        </li>
                                        <li>
                                            <a href="#">移动4G+专区</a>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li class="naver_list_b">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone1.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI Mate RS 保时捷设计</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">9999</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone8.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀10</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">2599</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone1.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI Mate RS 保时捷设计</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">9999</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone8.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀10</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">2599</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone1.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI Mate RS 保时捷设计</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">9999</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone8.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀10</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">2599</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/phone1.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI Mate RS 保时捷设计</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">9999</span>
                                            </div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="honor" href="#">笔记本 & 平板</a>
                        <ul>
                            <li class="naver_list_h">
                                <div class="naver_list_h_l">
                                    <a href="#">
                                        全部 &nbsp;<span class="subName">笔记本 & 平板</span> >
                                    </a>
                                </div>
                                <div class="naver_list_h_r">
                                    <ol>
                                        <li>
                                            <a href="#">平板电脑</a>
                                        </li>
                                        <li>
                                            <a href="#">笔记本电脑</a>
                                        </li>
                                        <li>
                                            <a href="#">笔记本配件</a>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li class="naver_list_b">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/leptop4.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI MateBook X Pro</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">7988</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/leptop5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀Magic Book</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">4999</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/flat4.jpg">
                                            </div>
                                            <div class="naver_list_b_name">畅玩平板2 9.6英寸</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">949</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/leptop4.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI MateBook X Pro</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">7988</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/leptop5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀Magic Book</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">4999</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/flat4.jpg">
                                            </div>
                                            <div class="naver_list_b_name">畅玩平板2 9.6英寸</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">949</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/leptop3.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI MateBool D</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">5188</span>
                                            </div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="huawei" href="#">智能穿戴</a>
                        <ul>
                            <li class="naver_list_h">
                                <div class="naver_list_h_l">
                                    <a href="#">
                                        全部 &nbsp;<span class="subName">智能穿戴</span> >
                                    </a>
                                </div>
                                <div class="naver_list_h_r">
                                    <ol>
                                        <li>
                                            <a href="#">手环</a>
                                        </li>
                                        <li>
                                            <a href="#">手表</a>
                                        </li>
                                        <li>
                                            <a href="#">VR</a>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li class="naver_list_b">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/watch5.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀畅玩手环 A2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">169</span>
                                            </div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="honor" href="#">智能家居</a>
                        <ul>
                            <li class="naver_list_h">
                                <div class="naver_list_h_l">
                                    <a href="#">
                                        全部 &nbsp;<span class="subName">智能家居</span> >
                                    </a>
                                </div>
                                <div class="naver_list_h_r">
                                    <ol>
                                        <li>
                                            <a href="#">路由器</a>
                                        </li>
                                        <li>
                                            <a href="#">电视盒子</a>
                                        </li>
                                        <li>
                                            <a href="#">照明</a>
                                        </li>
                                        <li>
                                            <a href="#">清洁</a>
                                        </li>
                                        <li>
                                            <a href="#">字母/分布式路由</a>
                                        </li>
                                        <li>
                                            <a href="#">电力猫/wifi放大器</a>
                                        </li>
                                        <li>
                                            <a href="#">随行wifi</a>
                                        </li>
                                        <li>
                                            <a href="#">节能</a>
                                        </li>
                                        <li>
                                            <a href="#">环境</a>
                                        </li>
                                        <li>
                                            <a href="#">安防</a>
                                        </li>
                                        <li>
                                            <a href="#">健康</a>
                                        </li>
                                        <li>
                                            <a href="#">厨电</a>
                                        </li>
                                        <li>
                                            <a href="#">影音</a>
                                        </li>
                                        <li>
                                            <a href="#">卫浴</a>
                                        </li>
                                        <li>
                                            <a href="#">其他</a>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li class="naver_list_b">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other15.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀路由2</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">189</span>
                                            </div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="huawei" href="#">通用配件</a>
                        <ul>
                            <li class="naver_list_h">
                                <div class="naver_list_h_l">
                                    <a href="#">
                                        全部 &nbsp;<span class="subName">通用配件</span> >
                                    </a>
                                </div>
                                <div class="naver_list_h_r">
                                    <ol>
                                        <li>
                                            <a href="#">移动电源</a>
                                        </li>
                                        <li>
                                            <a href="#">耳机</a>
                                        </li>
                                        <li>
                                            <a href="#">音箱</a>
                                        </li>
                                        <li>
                                            <a href="#">自拍杆/支架</a>
                                        </li>
                                        <li>
                                            <a href="#">充电器/线材</a>
                                        </li>
                                        <li>
                                            <a href="#">U盘/存储卡</a>
                                        </li>
                                        <li>
                                            <a href="#">排插</a>
                                        </li>
                                        <li>
                                            <a href="#">摄像机/镜头</a>
                                        </li>
                                        <li>
                                            <a href="#">智能硬件</a>
                                        </li>
                                        <li>
                                            <a href="#">生活周边</a>
                                        </li>

                                    </ol>
                                </div>
                            </li>
                            <li class="naver_list_b">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other13.jpg">
                                            </div>
                                            <div class="naver_list_b_name">华为主动降噪耳机3</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">399</span>
                                            </div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a class="honor" href="#">专属配件</a>
                        <ul>
                            <li class="naver_list_h">
                                <div class="naver_list_h_l">
                                    <a href="#">
                                        全部 &nbsp;<span class="subName">专属配件</span> >
                                    </a>
                                </div>
                                <div class="naver_list_h_r">
                                    <ol>
                                        <li>
                                            <a href="#">保护壳</a>
                                        </li>
                                        <li>
                                            <a href="#">保护套</a>
                                        </li>
                                        <li>
                                            <a href="#">贴膜</a>
                                        </li>
                                        <li>
                                            <a href="#">盒子专属配件</a>
                                        </li>
                                        <li>
                                            <a href="#">表带</a>
                                        </li>
                                        <li>
                                            <a href="#">触控笔</a>
                                        </li>
                                    </ol>
                                </div>
                            </li>
                            <li class="naver_list_b">
                                <ol>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other18.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI P20 Pro 手机导航配件</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">199</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other19.jpg">
                                            </div>
                                            <div class="naver_list_b_name">荣耀9 炫彩保护壳</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">109</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other18.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI P20 Pro 手机导航配件</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">199</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other18.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI P20 Pro 手机导航配件</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">199</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other18.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI P20 Pro 手机导航配件</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">199</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other18.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI P20 Pro 手机导航配件</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">199</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <div class="naver_list_b_img">
                                                <img src="__HOME__/images/other18.jpg">
                                            </div>
                                            <div class="naver_list_b_name">HUAWEI P20 Pro 手机导航配件</div>
                                            <div class="naver_list_b_price">
                                                &yen;
                                                <span class="goods_price">199</span>
                                            </div>
                                        </a>
                                    </li>
                                </ol>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
        <!--右侧搜索栏-->
        <div class="header_right">
            <div class="search_bar" id="search_bar">
                <!--搜索表单-->
                <div class="search_bar_form" id="search_bar_form">
                    <form method="get" action="/glist">
                        <input type="search" name="gname" placeholder="商品名称..." class="text" maxlength="100" id="search_kw" autocomplete="off">
                        <button type="submit" class="btn_search">
                            <span class="am-icon-search"></span>
                        </button>
                    </form>
                </div>
                <!--搜索表单 结束-->
                <!--搜索框中的商品-->
                <div class="search_bar_kw" id="search_bar_id">
                    <a href="#" title="搜索框中的推荐产品1">HUAWEI P20</a>
                    <a href="#" title="搜索框中的推荐产品2">荣耀10</a>
                </div>
                <!--搜索框中的商品 结束-->
                <!--搜索框中的历史搜索记录-->
                <div id="search_history" data-history="true" class="search_bar_history hide">
                    <p>
                        <label>历史记录</label>
                        <span class="am-icon-trash" id="btn_clearHistory" title="清空历史记录"></span>
                    </p>
                    <ul id="search_history_list">
                        <li>
                            <a href="#">历史搜索记录1</a>
                        </li>
                        <li>
                            <a href="#">历史搜索记录2</a>
                        </li>
                        <li>
                            <a href="#">历史搜索记录3</a>
                        </li>
                    </ul>
                </div>
                <!--搜索框中的历史搜索记录 结束-->
            </div>
        </div>
        <!--右侧搜索栏 结束-->
    </div>
</div>
<!--header_logo_search end-->