<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<meta name="description" content="华为商城是华为旗下面向全国服务的电子商务平台官网,我们提供正品华为手机(华为P20、华为Mate10、荣耀V10、华为P10、华为nova3e、荣耀9、华为Mate9、荣耀V9等)">
<meta name="Keywords" content="手机,电子商务,华为商城,手表,笔记本,充电器，平板,二级,充电宝,VR眼镜,荣耀,华为,荣耀手环,荣耀畅玩,华为平板">
<link rel="icon" type="image/jpg" href="__HOME__/images/title_logo.jpg">
<!-- Add to homescreen for Chrome on Android -->
<meta name="mobile-web-app-capable" content="yes">
<link rel="icon" sizes="192x192" href="__HOME__/images/title_logo.jpg">